
@{
    ViewBag.Title = "Usuarios";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Resumen</li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header"><i class="fas fa-users me-1"></i> Lista de usuarios</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button class="btn btn-success" type="button" onclick="AbrirModalUsuario(null)"><i class="fas fa-user-plus"></i> Crear usuario</button>
            </div>
        </div>
        <hr />
        <table style="width: 100%" id="tbUsuarios" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Activo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<!--Modal para la creación de usuario-->
<div class="modal fade" id="modalUsuario" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="modalUsuario" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h1 class="modal-title fs-5 text-white" id="modalUsuario">Crear usuario</h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">
                <input id="txtId" type="hidden" value="0">
                <div class="row">
                    <div class="col">
                        <label for="txtNombres" class="form-label">Nombres</label>
                        <input id="txtNombres" type="text" class="form-control" placeholder="Digite..." aria-label="Nombres" required>
                    </div>
                    <div class="col">
                        <label for="txtApellidos" class="form-label">Apellidos</label>
                        <input id="txtApellidos" type="text" class="form-control" placeholder="Digite..." aria-label="Apellidos" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="txtCorreo" class="form-label">Correo</label>
                        <input id="txtCorreo" type="email" class="form-control" placeholder="Digite..." aria-label="Correo" required>
                    </div>
                    <div class="col">
                        <label for="cboActivo" class="form-label">Activo</label>
                        <select id="cboActivo" class="form-select" aria-label="Si" required>
                            <option selected value="1">Si</option>
                            <option value="0">No</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <div id="msjError" class="alert alert-danger" role="alert">
                            <i class="fas fa-times-circle"></i> A simple danger alert—check it out!
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Guardar()">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        jQuery.ajax({
            url: '@Url.Action("ListarUsuarios", "Home")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            //success: function (data) {
            //    console.log(data)
            //}
        })
        var tbUsuarios;
        var filaSeleccionada;
        $(document).ready(function () {
            tbUsuarios = $('#tbUsuarios').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                responsive: true,
                "ajax": {
                    url: '@Url.Action("ListarUsuarios", "Home")',
                    type: "GET",
                    dataType: "json"
                },
                "columns": [
                    {"data": "Nombres"},
                    {"data": "Apellidos"},
                    {"data": "Correo"},
                    {
                        "data": "Activo",
                        "render": function (valor) {
                            if (valor) {
                                return "<span class='badge bg-success'>Si</span>"
                            } else {
                                return "<span class='badge bg-danger'>No</span>"
                            }
                        }
                    },
                    {
                        "defaultContent": "<button class='btn btn-info btn-sm btn-editar' type='button'><i class='fas fa-pen'></i></button>" +
                            "<button class='btn btn-danger btn-sm ms-2 btn-eliminar' type='button'><i class='fas fa-trash'></i></button>",
                        "orderable": false,
                        "searchable": false,
                        "width": "65px"
                    }
                ]
            });
        });

        function AbrirModalUsuario(json) {
            //Limpiar los campos al cargar el modal
            $("#txtId").val(0),
            $("#txtNombres").val("")
            $("#txtApellidos").val("")
            $("#txtCorreo").val("")
            $("#cboActivo").val(1)

            //Ocultar div de mensaje de error
            $("#msjError").hide();

            //Si el parametro no llega null quiere decir que viene información y esta información la ponemos en cada campo
            if (json != null) {
                $("#txtId").val(json.Id)
                $("#txtNombres").val(json.Nombres)
                $("#txtApellidos").val(json.Apellidos)
                $("#txtCorreo").val(json.Correo)
                $("#cboActivo").val(json.Activo == true ? 1 : 0)
                //console.log(json)
            }

            $("#modalUsuario").modal("show");
        }

        $("#tbUsuarios tbody").on("click", ".btn-editar", function () {
            filaSeleccionada = $(this).closest("tr"); //Almacena la fila a la que pertenece el boton que se oprime
            //Obtener los datos de las columnas para esta fila
            var datos = tbUsuarios.row(filaSeleccionada).data();

            AbrirModalUsuario(datos)
        });

        function Guardar() {
            var usuario = {
                Id: $("#txtId").val(),
                Nombres: $("#txtNombres").val(),
                Apellidos: $("#txtApellidos").val(),
                Correo: $("#txtCorreo").val(),
                Clave: "",
                Activo: $("#cboActivo").val() == 1 ? true : false,
            }

            jQuery.ajax({
                url: '@Url.Action("GuardarUsuario", "Home")',
                type: 'POST',
                data: JSON.stringify({ usuario: usuario }),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //Nuevo usuario
                    if (usuario.Id == 0) {
                        if (data.result != null) {
                            usuario.Id = data.result;
                            tbUsuarios.row.add(usuario).draw(false)
                            $("#modalUsuario").modal("hide");
                            swal("Usuario creado", "Usuario creado exitosamente. Se ha enviado la contraseña de acceso al correo registrado.", "success");
                        } else if (data.result == null && data.mensaje == "Usuario existente") {
                            $("#modalUsuario").modal("hide");
                            swal("Atención", "Ya existe un usuario con el correo digitado.", "warning");
                        }
                        else {
                            $("#msjError").text(data.mensaje);
                            $("#msjError").show();
                        }
                    }
                    //Editar usuario
                    else {
                        if (data.result) {
                            tbUsuarios.row(filaSeleccionada).data(usuario).draw(false)
                            filaSeleccionada = null
                            $("#modalUsuario").modal("hide");
                            swal("Usuario actualizado", "Usuario actualizado exitosamente.", "success");
                        } else {
                            $("#msjError").text(data.mensaje);
                            $("#msjError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#msjError").text("Error durante la ejecución.");
                    $("#msjError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        background: "#AED6F1",
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 14
                    })
                }
            })
        }

        $("#tbUsuarios tbody").on("click", ".btn-eliminar", function () {
            var usuarioSeleccionado = $(this).closest("tr");

            var datos = tbUsuarios.row(usuarioSeleccionado).data();

            swal({
                title: "¿Desea eliminar este usuario?",
                text: `Usuario: ${datos.Nombres} ${datos.Apellidos}. \n Esta operación es irreversible.`,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                closeOnConfirm: false,
                closeOnCancel: true
            },
                function (isConfirm) {
                    if (isConfirm) {
                        jQuery.ajax({
                            url: '@Url.Action("EliminarUsuario", "Home")',
                            type: 'POST',
                            data: JSON.stringify({ idUsuario: datos.Id }),
                            dataType: 'json',
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {
                                if (data.result) {
                                    tbUsuarios.row(usuarioSeleccionado).remove().draw();
                                } else {
                                    swal("No se pudo eliminar", data.mensaje, "error");
                                }
                            },
                            error: function (error) {
                                console.log(error)
                            }
                        })
                        swal("Usuario eliminado", "Se ha eliminado el usuario correctamente.", "success");
                    }
                });

            //console.log(datos);
        });

    </script>
}